

/* Box Model Hack */
*{
  box-sizing: border-box;
}

  /* Clear fix */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  color: black;
}
section {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
}

#resultList {
  width: 40%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
h1, h2{
  text-align: center;
}
button {
  border: 2px solid green;
}
img{
  display: block;
  height: 300px;
  margin: 0 auto;
}

ul{
  list-style: none;
  color: black;
}

.strike {
  text-decoration: line-through;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
